{% extends 'base.html.twig' %}
{% block body %}
<body id="activite">
<h1>Dommage il pleut :(</h1>

<div class="activite">
    <img src="{{ asset('bundles/wildtreck/images/boxe.png') }}" alt="boxe">

    <img src="{{ asset('bundles/wildtreck/images/bowling.jpg') }}" alt="bowling">

    <img src="{{ asset('bundles/wildtreck/images/cinema.png') }}" alt="cinema">
</div>
</body>

{% endblock %}