{% extends 'base.html.twig' %}
{% block body %}
    <div id="container">
        <img id="velo" src="{{ asset ('bundles/framework/images/velo.jpg') }}" alt="home page"/>
        <input type="text" id="ville" onkeypress="handleVazyCity(event)" />
        <input type="submit" onclick="vazycity()">
        <script>
            function handleVazyCity(e){
                if(e.keyCode === 13){
                    vazycity();
                }
                return false;
            }
            function vazycity() {
                var ville = document.getElementById('ville').value;
                var link = "http://api.openweathermap.org/data/2.5/weather?q=" + ville + "&appid=a30778a294033bcb08e92c29ed1b1832&units=metric&lang=fr";
                var request = new XMLHttpRequest();
                request.open('GET', link, false);
                request.send(null);
                if (request.status == 200) {
                    var response = JSON.parse(request.responseText);
                    if(response.main.humidity > 50 && response.main.temp < 10) {
                        window.location = '/lelienversactivites';
                    } else {
                        window.location = '/lelienverssport';
                    }
                }
            }
        </script>
    </div>
{% endblock %}