{% extends 'base.html.twig' %}
{% block body %}
    <body id="sport">
    <h1>On va pouvoir sortir :)</h1>
<div class="activite">
        <img  src="{{ asset('bundles/wildtreck/images/oursvelo.png') }}" alt="velo">


        <img  src="{{ asset('bundles/wildtreck/images/running.jpg') }}" alt="running">


        <img  src="{{ asset('bundles/wildtreck/images/randonnee.jpg') }}" alt="cinema">
</div>
    </body>

{% endblock %}