#homepage {
    background-image: url('./images/homepage.jpg');
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    margin-right: 10px;

}

#container {
    text-align: center;
    margin-top: 200px;

}

#activite {
    background-image: url('./images/salledesport.jpg');
    width: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#sport {
    background-image: url('./images/veloactivite.jpg');
    width: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;

}

#boxe {
    float: left;
}

#cinema {
}

h1 {
    text-align: center;
    color: #66dd66;
}

.activite
{
    display:flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 88px;
    margin-top: 188px;


}

.activite img
{
    width:200px;
    height: 200px;
    border-radius: 100%;
}



